html {
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient(#4ba1c5, #66E6AF,  rgb(247, 235, 70));
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* -----CLOCK----- */
.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  color: antiquewhite;
  margin-top: 20px;
}

.date, .time {
  display: flex;
  margin: 10px;
  align-self: center;
}


/* -----WEATHER----- */
.weather {
  width: 330px;
  background-color: mediumaquamarine;
  border-radius: 30px;
  margin-top: 30px;
}

.weather-header {
  font-size: 35px;
  text-align: center;
  background-color: mediumaquamarine;
  color: antiquewhite;
  border-radius: 30px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.weather-data {
  list-style: none;
  color: rgb(50, 207, 202);
  font-size: 30px;
  padding: 0;
}

.weather-data > li {
  background-color: antiquewhite;
  border-radius: 30px;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}

.seeking-loc {
  font-size: 20px;
  background-color: mediumaquamarine;
  color: antiquewhite;
  position: relative;
  left: 28%;
}

/* -----TABS----- */
.tabs-section {
  display: flex;
  width: 330px;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.tab-header {
  width: 270px;
  margin: 0;
  padding: 0;
}

.tab-header > li {
  float: left;
  box-sizing: border-box;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px;
  border-top: 1px solid #4ba1c5;
  border-left: 1px solid #4ba1c5;
  border-right: 1px solid #4ba1c5;
  border-bottom: 1px solid antiquewhite;
  list-style: none;
  z-index: 2;
  font-size: 15px;
  text-align: center;
  color: #4ba1c5;

}

.tab-content {
  background: antiquewhite;
  height: 150px;
  padding: 20px;
  border-top-right-radius: 8px;
  border: 1px solid mediumaquamarine;
  font-size: 20px;
  color: #4ba1c5;
}

li.active {
  border-bottom: 1px solid rgb(81, 233, 213);
  background-color: rgb(81, 233, 213);
}

