html {
  font-family: 'Open Sans Condensed', sans-serif;
  background: linear-gradient(#4ba1c5, #66E6AF,  rgb(247, 235, 70));
  height: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: antiquewhite;
  margin-top: 20px;
}

.date, .time {
  display: flex;
  margin: 15px;
  align-self: center;
}

.tabs-section {
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.tab-header {
  width: 270px;
  margin: 0;
  padding: 0;
}

.tab-header > li {
  float: left;
  box-sizing: border-box;
  width: 80px;
  list-style: none;
  background-color: antiquewhite;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 3px;
  border-top: 1px solid #4ba1c5;
  border-left: 1px solid #4ba1c5;
  border-right: 1px solid #4ba1c5;
  z-index: 2;
  font-size: 15px;
  text-align: center;
}

.tab-content {
  background-color: antiquewhite;
  height: 150px;
  padding: 20px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #4ba1c5;
  border-left: 1px solid #4ba1c5;
  border-right: 1px solid #4ba1c5;
  font-size: 20px;
}

li.active {
  border-bottom: 1px solid #4ba1c5;
  background-color: rgb(81, 233, 213);
}